# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Jetbrains/
JetBrains.meta
# ===================================== #
# Jetbrains Rider / Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
*/.idea

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db